<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>
        <ng-container *ngIf="!productId">
          {{'titles.addnewproduct' | translate}}
        </ng-container>
        <ng-container *ngIf="productId">
          {{'titles.editproduct' | translate}}
        </ng-container>
      </h1>
    </div>
  </div>
  <p-card class="row">
    <div class="col-md-12">
      <form class="row" [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="col-md-6 mb-3">
          <input
            placeholder="{{'placeholders.ProductTitle' | translate}}"
            formControlName="title"
            required
            pInputText
          />
          <div
            *ngIf="productForm.controls['title'].dirty && productForm.controls['title'].invalid"
            class="invalid"
          >
            {{'validations.Titleisrequired' | translate}}
          </div>
        </div>
        <div class="col-md-6">
          <input
            placeholder="{{'placeholders.ProductPrice' | translate}}"
            formControlName="price"
            required
            pInputText
          />
          <div
            *ngIf="productForm.controls['price'].dirty && productForm.controls['price'].invalid"
            class="invalid"
          >
            {{'validations.Pleaseprovideavalidprice' | translate}}
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <input
            placeholder="{{'placeholders.ProductImage' | translate}}"
            type="url"
            formControlName="image"
            required
            pInputText
          />
          <div
            *ngIf="productForm.controls['image'].dirty && productForm.controls['image'].invalid"
            class="invalid"
          >
            {{'validations.Pleaseprovideavalidimageurl' | translate}}
          </div>
        </div>
        <div class="col-md-6">
          <input
            placeholder="{{'placeholders.ProductCategory' | translate}}"
            pInputText
            formControlName="category"
            required
          />
          <div
            *ngIf="productForm.controls['category'].dirty && productForm.controls['category'].invalid"
            class="invalid"
          >
            {{'validations.Categoryisrequired' | translate}}
          </div>
        </div>
        <div class="col-md-12">
          <textarea
            pInputTextarea
            placeholder="{{'placeholders.ProductDescription' | translate}}"
            formControlName="description"
            required
          ></textarea>
          <div
            *ngIf="productForm.controls['description'].dirty && productForm.controls['description'].invalid"
            class="invalid"
          >
            {{'validations.Descriptionisrequired' | translate}}
          </div>
        </div>
        <div class="col-md-12">
          <button pButton raised type="submit" class="p-button-primary">
            <ng-container *ngIf="!productId">
              {{'buttons.create' | translate}}
            </ng-container>
            <ng-container *ngIf="productId">
              {{'buttons.update' | translate}}
            </ng-container>
          </button>
        </div>
      </form>
    </div>
  </p-card>
</div>
